/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

.container {
    max-width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: calc(100%/3);
    padding: 25px 5px;
}
.col img {
    width: 100%;
}